@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fade-in {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fade-in 0.9s ease-out forwards;
}

.animate-fade-in-delay {
  animation: fade-in 1.3s ease-out forwards;
}

.animate-fade-in-delay-2 {
  animation: fade-in 1.6s ease-out forwards;
}

.animate-fade-in-delay-3 {
  animation: fade-in 2s ease-out forwards;
}



@keyframes pulse-blue {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}
.animate-pulse-slow {
  animation: pulse-blue 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
